node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.local
.env.*.local
.DS_Store
dist/
build/
coverage/
.idea/
.vscode/
data/
logs/
*.log
pids/
*.pid
*.sqlite
*.db
package-lock.json
yarn.lock
pnpm-lock.yaml
/.env
/.cache
/.next
local-*.json
Thumbs.db